{% load django_bootstrap5 %}
<!DOCTYPE html>

<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Eventos - {% block title %}{% endblock %}</title>
  {% bootstrap_css %}
</head>
<body class="bg-light">

 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand fw-bold" href="{% url 'home' %}">EventosApp</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'servicios:listar' %}">Servicios</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'servicios:lista_cliente' %}">Clientes</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'servicios:lista_coordinador' %}">Coordinadores</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'servicios:lista_empleados' %}">Empleados</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'servicios:lista_reservas' %}">Reservas</a></li>
                    <li class="nav-item"><a class="nav-link text-warning" href="/admin/" target="_blank">Django Admin &#8599;</a></li>
                    <li class="nav-item"><a class="nav-link text-info" href="/api/" >API Docs</a></li>
                </ul>
            </div>
        </div>
    </nav>

  <div class="container">
    {% block content %}{% endblock %}
  </div>

  {% bootstrap_javascript %}
</body>
</html>